{% extends 'main.html' %}

{% block login %}
    <div class="large-offset-3 large-6 columns">
        <form action="/auth/login/" method="post">
            {% csrf_token %}
            {{ form }}
            <label for="username">Имя пользователя</label>
            <input type="text" name="username" id="username">
            <label for="password">Пароль</label>
            <input type="password" name="password" id="password">
            {% if login_error %}
                <label class="error">{{ login_error }}</label>
            {% endif %}
            <input type="submit" class="button" value="Войти">
            <div class="label round secondary">
                <a href="/auth/register/">Регистрация</a>
            </div>
        </form>
    </div>
{% endblock %}