{% extends 'main.html' %}

{% block login %}
    <div class="large-offset-3 large-6 columns">
        <form action="/auth/register/" method="post">
            {% csrf_token %}
            {{ form }}

            <input type="submit" class="button" value="Зарегистрироваться">
        </form>
    </div>
{% endblock %}