{% extends 'main.html' %}
{% load staticfiles %}

{% block article %}
<div class="large-8 columns">
    {% for article in articles %}
        <h6>дата публикации: {{ article.article_date }}</h6>
        <h4><a href="/articles/get/{{ article.id }}/">{{ article.article_title }}</a></h4>
        <p>{{ article.article_text }}</p>
        <p>{% if username %}<a href="/articles/addlike/{{ article.id }}/{{ articles.number }}/">{% endif %}<img src="{% static 'fb_like.jpg' %}" height="25px" width="25px">{{ article.article_likes }}</a></p>
        <hr>
    {% endfor %}
</div>

<div class="row">
    <div class="large-3 large-offset-5 columns">
        <ul class="pagination">
            {% if articles.has_previous %}
                <li class="arrow"><a href="/page/{{ articles.previous_page_number }}/">&laquo;</a></li>
            {% else %}
            <li class="arrow unavailable"><a href="">&laquo;</a></li>
            {% endif %}

            {% for page in articles.paginator.page_range %}
                {% if page == articles.number %}
                    <li class="current"><a href="/page/{{ page }}/">{{ page }}</a></li>
                {% else %}
                    <li><a href="/page/{{ page }}/">{{ page }}</a></li>
                {% endif %}
                {% endfor %}
                {% if articles.has_next %}
                    <li class="arrow"><a href="/page/{{ articles.next_page_number }}/">&raquo;</a></li>
                {% else %}
                    <li class="arrow unavailable"><a href="">&raquo;</a></li>
                {% endif %}
        </ul>
    </div>
</div>

{% endblock %}
